{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="m-3 text-center">
    <h1>Votre panier</h1>
</div>

{% if not panier %}

<div class="alert alert-dismissible alert-light">
  Votre panier est vide !
</div>

{% endif %}

{% if panier %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre du livre</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>


    {% for element in panier.elements %}

    <tr>
      <th scope="row">{{ element.book.title }}</th>
      <td>{{ element.quantity }}</td>
      <td>{{ element.book.price }}</td>
    </tr>

    {% endfor %}

    <tr>
        <td></td>
        <td>Total</td>
        <td>{{ panier.total }}</td>
    </tr>

  </tbody>
</table>

<a type="button" class="btn btn-primary" href="{{ path('cart_clear') }}">Vider mon panier</a>

{% endif %}

{% endblock %}
